# dependencies
/node_modules

# Next.js
/.next
/out

# production
/build

# Vercel
/.vercel

# local environment files
.env*
!.env.example

# TypeScript
*.tsbuildinfo
next-env.d.ts

# system files
.DS_Store
Thumbs.db